.discoverGF{
  width: 12rem;
}
.discover_GF-large{
  margin-top: 5px;
}
.discover_GF-small{
  width:80px; 
  height:26px;
}
.header_events {
  margin-bottom: 6rem;
  width: 90%;
  margin: auto;
  padding: 0;
  padding-top: 3rem;
  padding-bottom: 6rem;
  box-sizing: border-box;
}
.header_event-block{
  position: relative;
  margin-bottom: 1.4rem;
  cursor: pointer;
  transition: 0.3s;
}
.header_event-block img {
  width: 100%;
  max-width: 20rem;
  height: 50%;
  max-height: 10rem;
  padding-bottom: 1rem;
}
.header_event-block img:hover {
  width: 101%;
  max-height: 11rem;
  transition: 0.1s;
}
.event-items li{
  list-style: none;
}
.event-items h3{
  width: 100%;
  padding-bottom: 0.8rem;
}
.event-img{
 position: relative;
  width: 100%;
  height: 11rem;
  z-index: -1;
  transition: 0.3s;
}
.event-details{
  margin-top: -1rem;
  margin-left: 2rem;
  
}
.event-time{
  background-color: black;
  width: fit-content;
  height: fit-content;
  padding: 0.6rem;
  margin-bottom: 1.2rem;
}
.event-time h3{
    color: white;
}
.event-time h3,
.event-items h3,
.event-items h4{
    margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}
@media (min-width: 49.8rem) {
  .header_events
  {
    display: flex;
    flex-wrap: wrap;
   
  }
  .header_event-block{
    width: 20rem;
    padding: 1rem;
    margin: auto;
    height: 25rem;
  }
}
@media (min-width: 93.75rem) {
  .header_event-block{
    width: 31rem;
    transition: 0.3s;
  }
  .event-img {
    height: 17rem;
    transition: 0.3s;
  }
}
.news-arrow{
  transform: rotate(180deg);
}

.news{
  margin: auto;
  width: fit-content;
  width: 100%; 
  margin-bottom: 1.4rem;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
}
.news article{
  width: 100%;
  max-width: 50rem;
  margin-bottom: 2rem;
}
.news-img {
  position: relative;
  width: 100%;
  height: 15rem;
 transition: 0.2s;
}
.news-article:hover h2{
  text-decoration: underline solid black;
}
.news-date{
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 0.1rem 2rem;
}
.news-article_content{
  width: fit-content;
  margin-bottom: 3rem;  
}
.news-article_content p{
    padding: 0.2rem 2rem;
      border: 2px solid black;
      transition: 0.3s;
}
.news-article_content p:hover
{
  background-color: black;
  transition: 0.2s;
}
.news-article_content:hover a {
   color: white; 
   transition: 0.2s;
}
.news-article_content a {
   color: black;
  text-decoration: none;
}
@media (min-width:25rem) {
  .news-date {
  transform: translateY(50%) rotate(-90deg);
  bottom: 50%;
  left: -2rem;
  }
}
@media (min-width:56.25rem){
  .news article{
    display: flex;
    width: 100%;
    max-width: 100rem;
  }
  .news-img{
    width: 50%;
    height: 22rem;
    margin-right: 2rem;
      transition: 0.2s;
  }
  .news-wrap{
    width: 50%;
  }
  .news-article_content p{
    padding: 1.2rem 3rem;
    transition: 0.3s;
  }
}
@media (min-width: 93.75) {
.news-img  {
  height: 25rem;
  transition: 0.2s;
}
}
.carousel-img_show{
  position: relative;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.carousel-images{
  position: relative;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 20rem;
}
.carousel-img_amount {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0.5rem 2rem;
}
.carousel{
  position: relative;
  margin: auto;
}
.carousel-controls{
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
}
#img-forward{
  margin-left: 1.9rem;
  background-color: none;
  cursor: pointer;
}
#img-back{
  margin-right: 1rem;
  background-color: none;
  cursor: pointer;
}
@media (min-width:56.25rem) {
  .carousel{
    height: 100%;
    max-height: 35rem;
  }
  .carousel-images{
    height: 35rem;
  }
}
@media (min-width: 118.75rem) {
  .carousel{
    height: 100%;
    max-height: 50rem;
  }
  .carousel-images{
    height: 50rem;
  }
}
.twitter-carousel {
    margin-top: 4rem;
}
.twitter-carousel_banner{
  background: url(../media/twitter-carousel.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 20rem;

}
.twitter-carousel_content{
  margin-bottom: 5rem;
}
.twitter-bird{
  width: 3.1rem;
  height: 3rem;
  margin-left: -0.2rem;
  margin-bottom: 0.3rem;
}
#twitter-beleef{
  width: 11rem;
  margin-left: 0.5rem;
  margin-bottom: 0.4rem;
  fill: white;
}
.twitter-dots{
  width: fit-content;
  margin: auto;
}
.twitter-dots button{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-left: 0.8rem;
  border: none;
}
.twitter-follow{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 30rem;
}
@media (min-width:62.5rem) {
  .twitter-carousel {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 3rem;
    transition: 0.2s;
  }
  .twitter-carousel_banner {
    width: 49%;
    height: 30rem;
    
  }
  .twitter-carousel_content{
    margin-bottom: 0;
    width: 49%;
  }
}
.staynotified {
  margin: auto;
  margin-bottom: 4rem;
}
.staynotified h2{
  font-size: 2rem;
}
.staynotified p {
  line-height: 1.5rem;
  font-size: 1.2rem;
}
.staynotified-inputs{
  display: flex;
  flex-direction: column;
}
.staynotified input:first-child{
  background-color: lightgray;
  padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  border: none;
width: 100%;
} 
.staynotified input:nth-child(2) {
background-color: black;
padding: 0.6rem 0.8rem 0.6rem 0.8rem;
border: 0.2rem solid black;
width: 6rem;
color: white;
}
.staynotified input:nth-child(2):hover {
  transition: 0.3s;
  background-color: white;
  cursor: pointer;
  color: black;
}
@media (min-width: 32.6rem) {

  .staynotified-inputs {
    flex-direction: row;
  }
}
@media (min-width: 57.5) {
  .staynotified-inputs {
    height: 4rem;
  }
}