.details_extras-filter-options {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 1.8rem;
}
.details_extras-filter-options li {
  list-style: none;
  display: flex;
  margin-right: 0.4rem;
}
.details_extras-filter-options p {
  margin: 0;
}
.wheelchair-svg {
  width: 1rem;
  height: 1rem;
}
.details_extras-ul a{
  display: flex;
}
.details_extras-ul p {
  margin: 0;
  margin-left: 10px;
}
@media(min-width:40rem) {
  .details_extras-filter-options{
    margin-left: 10.6rem;
  }
  .details_extras-filter-options li{
    height: fit-content;
    width: fit-content;
  }
  .details_extras-filter-options li input{
    height: 1.4rem;
    width: 1.4rem;
  }
  .details_extras-filter-options li p{
    font-size: 2rem;
  }
  .wheelchair-svg{
    width: 1.5rem;
    height: 1.5rem;
  }

}
.details_categories{
  display: flex;
}
.details_extras-ul {
  width: fit-content;
  padding: 0.6rem;
}
.details_extras-ul li{
  display: flex;
  padding: 0.3rem;
  margin-bottom: 0.4rem;
  border: 2px solid black;
  justify-content: center;
}
.details_extras-ul p{
display: none;
}
@media(min-width:40rem) {
  .details_extras-ul li{
width: fit-content;
  }
  .details_extras-ul p {
    display: block;
    font-size: 1.4rem;
   
  }
  .details_extras-ul a{
     text-decoration: none;
  }
}
.details_categories-list{
  list-style: none;
  padding-inline-start: 1rem;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  transition: 0.3s;
}
.details_extras-ul {
  padding-inline-start: 0;
}
.details_categories-list p,
.details_categories-list a{
    margin: 0;
 color: white; 
 text-decoration: none;
 width: 100%;
 font-size: 14px;
 transition: 0.3s;
 width: fit-content;
}

@media (min-width:50rem) {
  .details_categories-list li a{
    font-size: 1.2rem;
  }
}
@media(min-width:80rem) {
  .details_categories-list{
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
  }
  .details_categories-list li{
    width: 50%;
    height: fit-content;
    transition: 0.3s;
  }
 .details_filtering{
   max-width: 100rem;
   margin: auto;
 } 
}
/* ------------------------------------ */
.vs_hover:hover {
  background-color: black;
  transition: 0.3;
  cursor: pointer;
}
.details_selected-day{
  margin: auto;
  transition: 0.3s;
  width: fit-content;
  align-items: baseline;
  margin-top: 2rem;
}
.details_selected-day h1,
.details_selected-day p{
  margin: 0;
  height: fit-content;

}
@media(min-width:35rem) {
  .details_selected-day {
     display: flex;
  }
  .details_selected-day h1{
    font-size: 2.2rem;
    transition: 0.3s;
    margin-left: 1rem;
    text-decoration: underline black;
  }
  .details_selected-day p {
    font-size: 1.6rem;
    transition: 0.3s;
  }
}
.vs_hover:hover path {
  fill: white;
  transition: 0.3;
}
.details_filtering {
  position: relative;
  margin: auto;
  margin-bottom: 10rem;
  box-sizing: border-box;
  padding-left: 1rem;
}
 .details_extra-viewstyle {
   display: flex;
   width: fit-content;
   position: absolute;
   right: 0;
}
 .details_extra-viewstyle li{
   list-style: none;
   padding: 0.5rem;
   margin: 0.5rem;
   border: 2px solid black;
 }
 .details_filtering-svgs {
   fill: black;
 }
 .details_extras-li{
   transition: 0.3s;
 }
.details_extras-li:hover{
  background-color: black;
  transition: 0.3s;
}
.details_extras-li:hover p {
  color: white;
}
.details_extras-li:hover .details_filtering-svgs path{
  fill: white;
}
/* small */
.events_sorted {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}
.events_sorted section{
  width: 100%;
}
.events_sorted .details_page-event-large{
  display: none;
}
.events_sorted .details_page-inner{
  color: white;
  font-size: 12px;
}
.events_sorted li{
  background-color: black;
    width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.events_sorted h3,
.events_sorted h4,
.events_sorted p
{
  margin-block-end: 0;
  margin-block-start: 0;
   margin-bottom: 0;
}
.events_sorted h2{
  word-break: break-word;
  text-decoration: underline black;
  border-bottom-right-radius: 40px;
  width: fit-content;
}
.events_sorted ul {
  padding-inline-start: 0;
}
  .events_sorted a{
  padding: 1rem;
  width: 100%;
}
@media(min-width:43.75rem){
  .events_sorted .details_page-inner {
  display: flex;
}
.events_sorted h3{
  margin-left: 2rem;
}
  .events_sorted li{
    display: flex;
  }
  .events_sorted {
    display: flex; 
    flex-wrap: wrap;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ;
  }
  .events_sorted h3{
width: 35rem;
  }
}
@media(min-width:48.75rem) {
  .events_sorted  h3{
    width: 28rem;
      }
      .events_sorted h4{
        margin: auto;
      }
}
@media (min-width:70.5rem) {
  .events_sorted h3,
  .events_sorted h4,
  .events_sorted p,
  .events_sorted h2{
    font-size: 2rem;
  }
}
@media(min-width:100rem) {
  .events_sorted  h3{
    width: 52rem;
      }
}
/* large */
.events_sorted.open {
  margin-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.events_sorted.open ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.events_sorted.open ul li {
width: 100%;
max-width: 30rem;
list-style: none;
padding-inline-start: 0;
margin-bottom: 3rem;
padding: 0.5rem;
}
.events_sorted.open .details_page-event-large{
  display: block;
  position: relative;
}
.events_sorted.open .details_page-inner{
  display: block;
  width: fit-content;
  color: black;
}
.events_sorted.open li{
  background-color: unset;
}
.events_sorted.open p {
  width: fit-content;
  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  margin-block-start: 0;
  margin-top: -1.5rem;
  z-index: 1;
}
.events_sorted.open h2{
  font-size: 2rem;
   transition: 0.3s;
   word-break: break-word;
}
.events_sorted.open h3{
word-break: break-word;
}
.events_sorted.open article {
width: 100%;
height: 13rem;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
z-index: -1;
transition: 0.3s;
}
.events_sorted.open .details_page-inner h4,
.events_sorted.open .details_page-inner h3,
.events_sorted.open .details_page-inner p{
  margin: 0;
  width: fit-content;
  margin-bottom: 0.8rem;
}
.events_sorted.open .details_page-inner p {
  margin-left: 2rem;
  margin-top: -1.9rem;
}
@media(min-width:35rem) {
  .events_sorted article{
    height: 25rem;
    transition: 0.2s;
  }
} 
  .events_sorted h2
  .events_sorted.open h2{
  font-size: 3rem;
  transition: 0.2s;
}
/* ------------------LARGE------------- */
/* 


 */
/* ------------------SMALL------------- */

.detailsofday article{
  display: none
}
.detailsofday article:nth-child(-n+3) {
  display: block;
}
